torch>=2.4.0
torchvision>=0.19.0
omegaconf
einops
tqdm
imageio[ffmpeg]
imageio-ffmpeg
safetensors
diffusers==0.31.0
transformers>=4.49.0
accelerate>=1.1.1
wandb>=0.27.0
lmdb
numpy
pillow
decord
huggingface_hub
ftfy
regex
ninja